<!DOCTYPE html>
{% load static %}
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/mdb.min.css' %}">
    {% block component_css%}
    {% endblock %}
    <title>PictureCrap!</title>
  </head>
    <header>
      {% block nav %}
      {% endblock %}
      
      {% block splash %}
      {% endblock %}
    </header>
    <body>
      {% block body %}
      {% endblock %}
    </body>

<script src="{% static '/js/tether.min.js' %}"></script>
<script src="{% static '/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/mdb.min.js' %}"></script>

</html>
