{% extends 'imagersite/base.html' %}

{% load static %}

{% block component_css %}
<!-- <link rel="stylesheet" href="{% static 'css/splash_page.css' %}"> -->
{% endblock %}

{% block body %}

<h1>Photo View</h1>
{{ object.upload.url }}
<br>
<img src="{{ object.upload.url }}">
<p>
    Image Created: {{ object.date_created }}<br>
    Image Uploaded: {{ object.date_uploaded }}<br>
    Published Status: {{ object.published_status }}<br>
    Camera: {{ object.camera }}<br>
    This picture is in albums:<br>
    {% for album in object.albums.all %}
        <a href = "{% url 'album_detail' album.pk %}">
        <img src = "{{ album.cover_photo.upload.url }}" height = '100'><br>
         {{ album.album_title }}<a><br>
    {% endfor %}


{% endblock %}
