{% extends 'imagersite/base.html' %}

{% load static %}

{% block nav %}
<div class="container">
<nav class="navbar navbar-dark special-color-dark">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx22"><i class="fa fa-bars"></i> </button>
    <div class="container">
      <div class="collapse navbar-toggleable-xs" id="collapseEx22">
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
          </li>
          {% if user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-dark" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile</a>
            <div class="dropdown-menu dropdown-dark" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
              <a class="dropdown-item waves-effect waves-dark" href="/profile">Profile</a>
              <a class="dropdown-item waves-effect waves-dark" href="{% url 'library_view' %}">Library</a>
              <a class="dropdown-item waves-effect waves-dark" href="/logout">Logout</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
</div>
{% endblock %}

{% block body %}
<div class="container">
<h1>{{ album.album_title }}</h1>
Date Created: {{ album.date_created }}<br>
Published Status: {{ album.publish_status }}<br>
Number of Pictures: {{ album.photos.count }}<br>

{% for photo in photos %}

    <a href="{% url 'photos_detail' photo.pk %}"><img src="{{ photo.upload.url }}" height="150"></a>

 {% endfor %}
</div>
<div class="container">
<div class="pagination">
    <span class="step-links">
      {% if photos.has_previous %}
        <a href="?page={{ photos.previous_page_number }}">previous</a>
      {% endif %}
      <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
</div>
{% endblock %}
